main{
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.dia{
    height: 100%;
    width: 18%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    border: .2rem dashed var(--cor-principal);
    padding: 1rem .1rem;
}

.horarios{
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.cardProduto{
    height: 10rem;
    width: 100%;
    background-color: var(--cor-apoio);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    transition: .5s;
}

.cardProduto:hover{
    transition: .5s;
    background-color: var(--cor-principal);
}

.cardProduto img{
    width: 45%;
    border-radius: .5rem;
}

.cardProduto .textos{
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "nomeProduto nomeProduto"
        "iconePagamento favoritar"
        "rangeHorarios rangeHorarios"
    ;

    padding: .5rem;
    align-items: center;
}

.nomeProduto{
    grid-area: nomeProduto;
    font-size: 1.5rem;
}

.favoritar{
    grid-area: favoritar;
    color: var(--cor-preto);
}

.iconePagamento{
    grid-area: iconePagamento;
    color: var(--cor-preto);
}


.iconePagamento:hover, .favoritar:hover{
    color: var(--cor-preto);    
}

.formaPagamento{
    grid-area: formaPagamento;
}

.rangeHorarios{
    grid-area: rangeHorarios;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rangeHorarios p:last-child, .rangeHorarios p:first-child{
    background-color: var(--cor-fundo);
    padding: .2rem;
    border-radius: .1rem;
}