main{
    width: 100%;
    height: 100%;
    min-height: 62vh;
    /* background-color: blue; */
    margin-top: 6rem;
    margin-bottom: 8rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#subcabecalho{
    background-color: var(--cor-apoio);
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    z-index: 1;

    button{
        width: 10%;
        background: none;
        border: none;
    }

    i{
        font-size: 1.5rem;
    }
}

.botaoDenunciar i{
    color: red;
}

.infos{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: self-start;
    justify-content: center;
    gap: .5rem;
    font-size: 1.5rem;
}

img{
    width: 30%;
    border-radius: 5rem;
}

.popupOpcoes{
    background-color: var(--cor-principal);
    position: absolute;    
    z-index: 0;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: 2rem;
    right: 3rem;
    gap: .3rem;
}

.popupOpcoes a{
    width: 100%;
    text-align: center;
}

.popupOpcoes a:last-child{
    border-top: solid 1px var(--cor-preto);
}

.corpoChat{
    width: 100%;
    height: 10%;
    bottom: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    align-self: stretch;
    margin-top: 6rem;
    margin-bottom: 10rem;
    gap: 1rem;
    padding: 0 1rem;
}

.balaoVendedor, .balaoCliente{
    padding: 1rem;
    width: 50%;
}

.balaoVendedor{
    background-color: var(--cor-principal);
    align-self: flex-start;
    border-radius: 0 2rem 2rem 2rem;
}

.balaoCliente{
    background-color: var(--cor-apoio);
    align-self: flex-end;
    border-radius:  2rem 0 2rem 2rem;
}

.enviarMensagem{
    background-color: var(--cor-fundo);
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: fixed;
    padding-top: 1rem;
    padding-bottom: 4rem;
    bottom: 4rem;
}

input{
    background-color: var(--cor-apoio);
    height: 2rem;
    width: 80%;
    border-radius: 5rem;
    padding: 1rem;
    border: none;
}

.enviarMensagem button{
    background-color: var(--cor-apoio);
    width: 9%;
    height: 2rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border: none;
}