body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main{
    margin-top: 1rem;
    margin-bottom: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botaoEditar{
    display: inline-block;
    margin-left: 2rem;
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    border-radius: 5rem;
    border: none;
    background-color: var(--cor-fundo);
    color: var(--cor-preto);
    font-size: 1rem;
    text-decoration: none;
    transition: 0.1s;
    box-shadow: 0px 0px 3px 3px;
}

.botaoEditar:hover{
  background: var(--cor-apoio);
  color: var(--cor-fundo);
}

form{
    background-color: var(--cor-fundo);
    width: 90%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 3rem;
}

.form-group{
  padding: 1rem;
  display: flex;
  flex-direction:column;
  align-items: center;
}

#texto{
    border-radius: 1rem;
    padding: .5rem;
    text-align: center;
    background: var(--cor-fundo);
    border-color: var(--cor-apoio);
    font-size: 1rem;
}

.perfil{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.cluster{
  display: flex;
  flex-direction: column;
}

.fotoPerfil{
  width: 10%;
  border-radius: 100%;
  margin-left: 2rem;
}

.fotoCapa{
  width: 100vw;
  max-width: 900px;
  height: 50vh;
}

.chave{
  font-weight: 600;
  color: var(--cor-apoio);
  padding: .5rem;
}