body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main{
    margin-top: 7rem;
    margin-bottom: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botaoEditar{
    text-align: center;
    padding-top: .5rem;
    width: 40%;
    min-width: 6rem;
    height: 2rem;
    background-color: var(--cor-fundo);
    border: none;
    border-radius: 5rem;
    box-shadow: 0px 0px 3px 3px;
    transition: .1s;
    margin: 2rem 0 0 0;
}

form{
    background-color: var(--cor-fundo);
    width: 90%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 3rem;
}

.form-group{
  padding: 1rem;
  display: flex;
  flex-direction:column;
  align-items: center;
}

#texto{
    border-radius: 5rem;
    text-align: center;
    background: var(--cor-fundo);
    border-color: var(--cor-apoio);
    font-size: 1rem;
}

.perfil{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.cluster{
  display: flex;
  flex-direction: column;
}

.fotoPerfil{
  width: 10%;
  border-radius: 100%;
  margin-left: 2rem;
}

.fotoCapa{
  width: 100vw;
  max-width: 900px;
  height: 50vh;
}

.chave{
  font-weight: 600;
  color: var(--cor-apoio);
  padding: .5rem;
}