body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main{
    
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 1rem 0;
    gap: 1rem;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

form{
    width: 75%;
    height: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

label{
    background-color: var(--cor-principal);
    width: 100%;
    height: 100%;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    font-size: 1.5rem;
}

input{
    background-color: var(--cor-fundo);
    width: 80%;
    height: 2rem;
    border-radius: 5rem;
    border: none;
    padding: 1rem;
}

.botaoBusca{
    background-color: var(--cor-fundo);
    border: none;
    width: 5rem;
    height: 1.5rem;
    border-radius: 5rem;
    font-size: 1rem;
}

.botaoBusca:hover{
    background: var(--cor-apoio);
    color: var(--cor-fundo);
}

/* estilo dos posts */
#produtosContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 90vw;
    max-width: 900px;
    margin: 0 auto 2rem auto;
}

.botaoFavoritar{
    width: 6%;
    background: none;
    border: none;
}

.botaoFavoritar i{
    font-size: 1.5rem;
}

@media (max-width: 800px) {
    #produtosContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}