body{
    min-height: 100vh;
    width: 100%;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
}

h3{
    background-color: var(--cor-principal);
    color: var(--cor-fundo);
    padding: 1rem;
    border-radius: .5rem;
    position: fixed;
    top: 10%;
    z-index: 1500;
}

#produtosContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 90vw;
    max-width: 900px;
    margin: 0 auto 2rem auto;
}