main{
    width: 100%;
    height: 100vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#textos{
    width: 50%;
    text-align: justify;
    align-self: start;
    margin-left: 10%;
}

#carrossel{
    width: 100%;
    height: 20%;
}

#carrossel img{
    height: 20%;
}