main{
    width: 100%;
    height: 100vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#textos{
    width: 50%;
    text-align: justify;
    align-self: start;
    margin-left: 10%;
    font-size: 1.5rem;
}

#carrossel{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
}

#carrossel img{
    height: 370px;
    width: 1530px;
}

#carrossel i{
    font-size: 5rem;
    color: var(--cor-preto);
    transition: .5s;
}

#carrossel i:hover{
    color: var(--cor-apoio);
    transition: .5s;
}