main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cor-fundo);
}

h1{
    color: var(--cor-fundo);
    width: 100%;
    font-size: 3rem;
}

form{
    background-color: var(--cor-principal);
    margin-top: 5%;
    width: 30%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 2rem;
    gap: 2rem;
    padding: 2rem;
    text-align: center;
}

#campos{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

label{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    text-align: left;
    color: var(--cor-fundo);
}

input{
    min-width: 200px;
    height: 2rem;
    padding: 1rem;
    width: 20%;
    color: var(--cor-apoio);
    background-color: var(--cor-fundo);
    padding: .5rem;
    border-radius: .2rem;
    transition: .5s;
    border: none;
}

i{
    width: 2rem;
    height: 2rem;
    padding-top: .5rem;
    border-radius: .2rem;
    background-color: var(--cor-fundo);
    color: var(--cor-apoio);
   
    text-align: center;
    

    position: absolute;
    z-index: 1;
    right: 9%;
    transition: .5s;
}

i:hover{
    color: var(--cor-fundo);
    background-color: var(--cor-apoio);
    transition: .5s;
}


.escondido{
    visibility: hidden;
}

button{
    min-width: 8rem;
    width: 20%;
    color: var(--cor-apoio);
    background-color: var(--cor-fundo);
    padding: .5rem;
    border-radius: .2rem;
    transition: .5s;
    text-align: center;
    border: none;
}

button:hover{
    color: var(--cor-fundo);
    background-color: var(--cor-apoio);
    transition: .5s;
}

a{
    color: var(--cor-fundo);
    font-weight: bold;
    text-decoration: underline;
}

a:hover{
    color: var(--cor-apoio);
}

#outrosLogos{
    background-color: var(--cor-fundo);
    width: 60%;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 3rem;
}

img{
    width: 10%;
}