body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main{
    margin-top: 7rem;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 1rem 0;
    gap: 1rem;
    margin: 0 1rem 7rem 1rem;
}

main img{
    width: 10%;
}

#containerPosts{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem 0 1rem 0;
    gap: .5rem;
}

.post img{
    width: 100%;
}

.postCabecalho{
    width: 100%;
    height: 10%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem 0 1rem;
    margin-bottom: .5rem;
}

.postCabecalho a{
    display: flex;
    align-items: flex-start;
    gap: .3rem;
    font-weight: 600;
    color: black;
    font-size: 1.5rem;
}

.postRodape{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2.5rem;
}

.botaoEditar{
    text-align: center;
    padding-top: .5rem;
    width: 40%;
    min-width: 6rem;
    height: 2rem;
    background-color: var(--cor-fundo);
    border: none;
    border-radius: 5rem;
    box-shadow: 0px 0px 3px 3px;
    transition: .1s;
}