body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main{
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 1rem 0;
    gap: 1rem;
    margin-bottom: 7rem;
    margin-top: 7rem;
    color: var(--cor-preto);
    background-color: var(--cor-fundo);
}

.secoes{
  font-size: 1.5rem;
  min-width: 40%;
  padding: 1.2rem;
  justify-content: space-evenly;
}

.tituloSecao {
  color: var(--cor-principal);
  text-align: center;
  margin-bottom: 1rem;
}

.notificacao {
    background-color: var(--cor-principal);
    
    font-size: 1.2rem;
    text-align: justify;
    border-radius: 1rem;
    padding: 1rem;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.texto{
  color: var(--cor-fundo);
}

.horario{
  background-color: var(--cor-fundo);
  padding: .2rem;
  border-radius: .1rem;
}