main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 7rem;
    margin-top: 7rem;
}

form{
    /* background-color: red; */
    width: 90%;
    height: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
}

label{
    background-color: var(--cor-principal);
    width: 100%;
    height: 100%;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    font-size: 1.5rem;
}

input{
    background-color: var(--cor-fundo);
    width: 80%;
    height: 2rem;
    border-radius: 5rem;
    border: none;
    padding: 1rem;
}

button[type="submit"]{
    background-color: var(--cor-fundo);
    border: none;
    width: 10%;
    height: 2rem;
    border-radius: 5rem;
    font-size: 1rem;
}

.botoes{
    background-color: var(--cor-principal);
    height: 50%;
    width: 100%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
}

.botaoFiltro{
    width: 40%;
    min-width: 6rem;
    height: 2rem;

    background-color: var(--cor-fundo);
    border: none;
    border-radius: 5rem;
    box-shadow: 0px 0px 3px 3px;
    transition: .1s;
}

.botaoFiltro:hover{
    transition: .1s;
    background-color: var(--cor-apoio);
    border: solid 3px var(--cor-fundo);
}

.botaoFiltroSelecionado{
    background-color: var(--cor-apoio);
    border: solid 3px var(--cor-fundo);
}