@import url('https://fonts.googleapis.com/css2?family=Huninn&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;

    font-family: "Huninn", sans-serif;
    
    --cor-fundo: #E7E7E7;
    --cor-principal: #017CC2;
    --cor-apoio: #44a9e4;
    --cor-preto: #16262E;
    color: var(--cor-preto);
}

html{
    background-color: var(--cor-fundo);
}

body{
    width: 100%;
}


header{
    background-color: var(--cor-principal);
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

header nav{
    min-width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

nav a{
    min-width: 8rem;
    width: 20%;
    color: var(--cor-apoio);
    background-color: var(--cor-fundo);
    padding: .5rem;
    border-radius: .2rem;
    transition: .5s;
    text-align: center;
}

nav a:hover{
    color: var(--cor-fundo);
    background-color: var(--cor-apoio);
    transition: .5s;
}

nav a:last-child{
    min-width: 3rem;
    width: 5%;
}

a i{
     color: var(--cor-principal);
}

a i:hover{
     color: var(--cor-fundo);
}

#logo{
    width: 4%;
}