@import url('https://fonts.googleapis.com/css2?family=Huninn&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;

    font-family: "Huninn", sans-serif;
    
    --cor-fundo: #E7E7E7;
    --cor-principal: #017CC2;
    --cor-apoio: #44a9e4;
    --cor-preto: #16262E;
    color: var(--cor-preto);
}

html{
    background-color: var(--cor-fundo);
}

body{
    width: 412px;
}

/* Cabeçalho */
header{
    width: 100%;
    height: 10%;
    background-color: var(--cor-principal);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    padding: 3rem;
    position: fixed;
    z-index: 1;
    top: 0;
}

header a{
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    width: 150%;
}

#logo{
    width: 20%;
    background-color: var(--cor-fundo);
    border-radius: 1rem;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
}

nav a{
    width: 4rem;
    height: 4rem;

    background-color: var(--cor-fundo);
    font-size: 2rem;
    border-radius: 5rem;
}

nav img{
    width: 100%;
}

/* Cabeçalho Intermediário */
#cabecalhoIntermediario{
    width: 100%;
    height: 10%;
    background-color: var(--cor-principal);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 3rem;
    position: fixed;
    z-index: 1;
    top: 0;
}

#cabecalhoIntermediario a{
    width: 100%;
    font-size: 2rem;
    background-color: var(--cor-fundo);
    border-radius: 5rem;
}

#cabecalhoIntermediario a i{
    margin: 1rem;
}

h1{
    background-color: var(--cor-fundo);
    padding: 1rem;
    border-radius: 5rem;
    text-align: center;
}

/* Rodapé */
footer{
    width: 100%;
    height: 10%;
    background-color: var(--cor-principal);

    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

footer a{
    background-color: var(--cor-fundo);
    width: 5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
    font-size: 2rem;
    text-align: center;
}

#menuSelecionado{
    font-size: 2rem;
    width: 7rem;
    height: 5.5rem;
    margin-bottom: 1rem;
    border: solid .5rem var(--cor-principal);
}
