<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/login_style.css">
    <title>Document</title>
</head>
<body>
    <header id="cabecalhoIntermediario">
        <img src="../../public/img/Logo.png" alt="Logo" id="logo">
    </header>
    <main>
        <form action="homePage.html" method="get">
            <h1>Cadastra</h1>
            <div id="campos">
                <label>
                    Email: <input type="email"placeholder="user@gmail.com" required>
                </label>
                <label>
                    Senha: <input type="password" required>
                    <i class="fa-solid fa-eye"></i>
                    <i class="fa-solid fa-eye-slash escondido"></i>
                </label>
                <label>
                    Confirmar Senha:<input type="password" required>
                    <i class="fa-solid fa-eye"></i>
                    <i class="fa-solid fa-eye-slash escondido"></i>
                </label>
            </div>
            <button type="submit">Cadastra</button>
            <a href="login.html" target="_self" rel="noopener noreferrer">Já tem uma conta? Entre já!</a>
        </form> 
    </main>
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
</body>
</html>