<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/calendario_style.css">
    <link rel="stylesheet" href="../../public/css/cardsProdutos.css">
    <title>Calendário</title>
</head>
<body>
    <header>
        <button type="button" id="botaoPrincipal"><img src="../../public/img/Logo.png" alt="Logo" id="logo"></button>
        <nav>
            <button type="button" class="botaoMenu">Home</button>
            <button type="button" class="botaoMenu">Pesquisar</button>
            <button type="button" class="botaoMenu">Calendário</button>
            <button type="button" class="botaoMenu">Favoritos</button>
            <button type="button" class="botaoMenu">Logar/Cadastrar</button>
            <button type="button" id="botaoMenuLateral"><i class="fa-solid fa-bars"></i></button>
        </nav>
    </header>
    <main>
        <div class="tituloCalendario">
            <h1>Calendário da Semana</h1>
        </div>
        <div class="corpoCalendario">
            <div class="dia">
                <h2>SEGUNDA</h2>
                <div class="horarios">
                    <div class="exibicao">
                        <a href="produtoToucaGatos.html" target="_self" rel="noopener noreferrer">
                            <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Imagem de um gato usando touca">
                        </a>
                        <div class="produtoInfo">
                            <p class="nomeProduto">Touca para gatos</p>
                            <p class="preco">R$ 49,99</p>
                            <p><i class="fa-solid fa-heart botaoFavoritar"></i> <i class="fa-brands fa-pix"></i></p>
                            <div class="rangeHorarios">
                            <p>10:00</p>
                            <p>-</p>
                            <p>16:00</p>
                            </div>
                        </div>
                    </div>
                    <div class="exibicao">
                        <a href="produtoBrigadeiro.html" target="_self" rel="noopener noreferrer">
                            <img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="Imagem de brigadeiros">
                        </a> 
                        <div class="produtoInfo">
                            <p class="nomeProduto">Brigadeiros da Mari</p>
                            <p class="preco">R$ 2,00</p>
                            <p><i class="fa-regular fa-heart botaoFavoritar"></i> <i class="fa-brands fa-pix"></i></p>
                            <div class="rangeHorarios">
                                <p>14:00</p>
                                <p>-</p>
                                <p>20:00</p>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="dia">
                <h2>TERÇA</h2>
                <div class="horarios">
                    
                    <div class="exibicao">
                        <a href="produtoBrigadeiro.html" target="_self" rel="noopener noreferrer">
                            <img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="Imagem de brigadeiros">
                        </a> 
                        <div class="produtoInfo">
                            <p class="nomeProduto">Brigadeiros da Mari</p>
                            <p class="preco">R$ 2,00</p>
                            <p><i class="fa-regular fa-heart botaoFavoritar"></i> <i class="fa-brands fa-pix"></i></p>
                            <div class="rangeHorarios">
                                <p>08:00</p>
                                <p>-</p>
                                <p>16:00</p>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="dia">
                <h2>QUARTA</h2>
                <div class="horarios">
                    <div class="exibicao">
                        <a href="produtoToucaGatos.html" target="_self" rel="noopener noreferrer">
                            <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Imagem de um gato usando touca">
                        </a>
                        <div class="produtoInfo">
                            <p class="nomeProduto">Touca para gatos</p>
                            <p class="preco">R$ 49,99</p>
                            <p><i class="fa-solid fa-heart botaoFavoritar"></i> <i class="fa-brands fa-pix"></i></p>
                             <div class="rangeHorarios">
                                <p>08:00</p>
                                <p>-</p>
                                <p>14:00</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="dia">
                <h2>QUINTA</h2>
                <div class="horarios">
                    <div class="exibicao">
                        <a href="produtoToucaGatos.html" target="_self" rel="noopener noreferrer">
                            <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Imagem de um gato usando touca">
                        </a>
                        <div class="produtoInfo">
                            <p class="nomeProduto">Touca para gatos</p>
                            <p class="preco">R$ 49,99</p>
                            <p><i class="fa-solid fa-heart botaoFavoritar"></i> <i class="fa-brands fa-pix"></i></p>
                             <div class="rangeHorarios">
                                <p>08:00</p>
                                <p>-</p>
                                <p>18:00</p>
                            </div>
                        </div>
                    </div>
                    <div class="exibicao">
                        <a href="produtoBrigadeiro.html" target="_self" rel="noopener noreferrer">
                            <img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="Imagem de brigadeiros">
                        </a> 
                        <div class="produtoInfo">
                            <p class="nomeProduto">Brigadeiros da Mari</p>
                            <p class="preco">R$ 2,00</p>
                            <p><i class="fa-regular fa-heart botaoFavoritar"></i> <i class="fa-brands fa-pix"></i></p>
                            <div class="rangeHorarios">
                                <p>10:00</p>
                                <p>-</p>
                                <p>18:00</p>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="dia">
                <h2>SEXTA</h2>
                <div class="horarios">
                    <div class="exibicao">
                        <a href="produtoBrigadeiro.html" target="_self" rel="noopener noreferrer">
                            <img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="Imagem de brigadeiros">
                        </a> 
                        <div class="produtoInfo">
                            <p class="nomeProduto">Brigadeiros da Mari</p>
                            <p class="preco">R$ 2,00</p>
                            <p><i class="fa-regular fa-heart botaoFavoritar"></i> <i class="fa-brands fa-pix"></i></p>
                            <div class="rangeHorarios">
                                <p>08:00</p>
                                <p>-</p>
                                <p>16:00</p>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </main>
        
       
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
        <script src="../../public/js/script.js"></script>
        <script src="../../public/js/card_script.js"></script>
</body>
</html>