<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/calendario_style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="../../public/img/Logo.png" alt="Logo" id="logo">
        <nav>
            <a href="http://">Home</a>
            <a href="http://">Pesquisar</a>
            <a href="http://">Calendário</a>
            <a href="http://">Favoritos</a>
            <a href="http://">Logar/Cadastrar</a>
            <a href="http://"><i class="fa-solid fa-bars"></i></a>
        </nav>
    </header>
    <main>
        
        <table>
            <tr><th colspan="7">Clique no horário</th></tr>
            <tr><th></th><th>SEG</th><th>TER</th><th>QUA</th><th>QUI</th><th>SEX</th></tr>
            <tr><th>08:00</th><td><a href="homePage.html" target="_self">2</a></td>   <td></td>   <td></td>   <td></td>   <td><a href="homePage.html" target="_self">5</a></td>  </tr>
            <tr><th>10:00</th><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><th>12:00</th><td><a href="homePage.html" target="_self">2</a></td>  <td></td>  <td></td>  <td></td>  <td></td>   </tr>
            <tr><th>14:00</th><td><a href="homePage.html" target="_self">3</a></td><td></td><td></td><td><a href="homePage.html" target="_self">4</a></td><td></td></tr>
            <tr><th>16:00</th><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><th>18:00</th><td></td><td><a href="homePage.html" target="_self">12</a></td><td></td><td><a href="homePage.html" target="_self">4</a></td><td></td></tr>
            <tr><th>20:00</th><td><a href="homePage.html" target="_self">2</a></td><td></td><td></td><td></td><td></td></tr>
            <tr><th>22:00</th><td></td><td></td><td><a href="homePage.html" target="_self">2</a></td><td></td><td></td></tr>
        </table>
    </main>
     <footer>
        <a href="pesquisar.html" target="_self"><i class="fa-solid fa-magnifying-glass botaoPesquisar"></i></a>
        <a href="selecionarChat.html" target="_self"><i class="fa-solid fa-comment botaoChat"></i></a>
        <a href="calendario.html" target="_self" id="menuSelecionado"><p class="botaoData">SEG</p></a>
        <a href="favoritos.html" target="_self"><i class="fa-solid fa-heart botaoFavoritos"></i></a>
        <a href="menu_bar.html" target="_self"><i class="fa-solid fa-bars botaoMenuBar"></i></a>
    </footer>
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
</body>
</html>