<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/calendario_style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <button type="button" id="botaoPrincipal"><img src="../../public/img/Logo.png" alt="Logo" id="logo"></button>
        <nav>
            <button type="button" class="botaoMenu">Home</button>
            <button type="button" class="botaoMenu">Pesquisar</button>
            <button type="button" class="botaoMenu">Calendário</button>
            <button type="button" class="botaoMenu">Favoritos</button>
            <button type="button" class="botaoMenu">Logar/Cadastrar</button>
            <button type="button" id="botaoMenuLateral"><i class="fa-solid fa-bars"></i></button>
        </nav>
    </header>
    <main>
        <div class="dia">
            <h2>SEGUNDA</h2>
            <div class="horarios">
                <a class="cardProduto" href="produtoBrigadeiro.html">
                    <img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="Foto produto">
                    <div class="textos">
                        <p class="nomeProduto">Brigadeiros da Mari</p>
                        <i class="fa-regular fa-heart favoritar"></i>
                        <i class="fa-solid fa-money-bill iconePagamento"></i>
                        <div class="rangeHorarios">
                            <p>08:00</p>
                            <p>-</p>
                            <p>12:00</p>
                        </div>
                    </div>
                </a>
               
            </div>
        </div>
        <div class="dia">
            <h2>TERÇA</h2>
            <div class="horarios">
                <a class="cardProduto" href="produtoBrigadeiro.html">
                    <img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="Foto produto">
                    <div class="textos">
                        <p class="nomeProduto">Brigadeiros da Mari</p>
                        <i class="fa-regular fa-heart favoritar"></i>
                        <i class="fa-solid fa-money-bill iconePagamento"></i>
                        <div class="rangeHorarios">
                            <p>08:00</p>
                            <p>-</p>
                            <p>12:00</p>
                        </div>
                    </div>
                </a>
                <a class="cardProduto" href="produtoToucaGatos.html">
                    <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Foto produto">
                    <div class="textos">
                        <p class="nomeProduto">Touca para gatos</p>
                        <i class="fa-regular fa-heart favoritar"></i>
                        <i class="fa-brands fa-pix iconePagamento"></i>
                        <div class="rangeHorarios">
                            <p>12:00</p>
                            <p>-</p>
                            <p>14:00</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="dia">
            <h2>QUARTA</h2>
            <div class="horarios">
                <a class="cardProduto" href="produtoBrigadeiro.html">
                    <img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="Foto produto">
                    <div class="textos">
                        <p class="nomeProduto">Brigadeiros da Mari</p>
                        <i class="fa-regular fa-heart favoritar"></i>
                        <i class="fa-solid fa-money-bill iconePagamento"></i>
                        <div class="rangeHorarios">
                            <p>08:00</p>
                            <p>-</p>
                            <p>12:00</p>
                        </div>
                    </div>
                </a>
                
            </div>
        </div>
        <div class="dia">
            <h2>QUINTA</h2>
            <div class="horarios">
                <a class="cardProduto" href="produtoBrigadeiro.html">
                    <img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="Foto produto">
                    <div class="textos">
                        <p class="nomeProduto">Brigadeiros da Mari</p>
                        <i class="fa-regular fa-heart favoritar"></i>
                        <i class="fa-solid fa-money-bill iconePagamento"></i>
                        <div class="rangeHorarios">
                            <p>08:00</p>
                            <p>-</p>
                            <p>12:00</p>
                        </div>
                    </div>
                </a>
                <a class="cardProduto" href="produtoToucaGatos.html">
                    <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Foto produto">
                    <div class="textos">
                        <p class="nomeProduto">Touca para gatos</p>
                        <i class="fa-regular fa-heart favoritar"></i>
                        <i class="fa-brands fa-pix iconePagamento"></i>
                        <div class="rangeHorarios">
                            <p>12:00</p>
                            <p>-</p>
                            <p>14:00</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="dia">
            <h2>SEXTA</h2>
            <div class="horarios">
                <a class="cardProduto" href="produtoBrigadeiro.html">
                    <img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="Foto produto">
                    <div class="textos">
                        <p class="nomeProduto">Brigadeiros da Mari</p>
                        <i class="fa-regular fa-heart favoritar"></i>
                        <i class="fa-solid fa-money-bill iconePagamento"></i>
                        <div class="rangeHorarios">
                            <p>08:00</p>
                            <p>-</p>
                            <p>12:00</p>
                        </div>
                    </div>
                </a>
                <a class="cardProduto" href="produtoToucaGatos.html">
                    <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Foto produto">
                    <div class="textos">
                        <p class="nomeProduto">Touca para gatos</p>
                        <i class="fa-regular fa-heart favoritar"></i>
                        <i class="fa-brands fa-pix iconePagamento"></i>
                        <div class="rangeHorarios">
                            <p>12:00</p>
                            <p>-</p>
                            <p>14:00</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </main>
        
       
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
        <script src="../../public/js/script.js"></script>
</body>
</html>