<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/chat.style.css">
    <title>Document</title>
</head>
<body>
    <header id="cabecalhoIntermediario">
        <img src="../../public/img/Logo.png" alt="Logo" id="logo">
        <h1>CHAT</h1>
        <a href="selecionarChat.html" target="_self"><i class="fa-solid fa-x botaoVoltar"></i></a>
    </header>
    <main>
        <div id="subcabecalho">
            <div class="infos">
                <img src="https://images.pexels.com/photos/16282655/pexels-photo-16282655.jpeg" alt="FotoAtualizacao" class="fotoVendedor">
                <p class="nomeVendedor">CrochêMia</p>    
            </div>
            
            <a href="compartilhar.html" target="_self"><i class="fa-solid fa-share-nodes"></i></a>
            <a href="denunciar.html" target="_self" class="botaoDenunciar"><i class="fa-solid fa-flag"></i></a>
        </div>
        <div class="corpoChat">
            <p class="balaoCliente">Oi Mia tudo bem</p>
            <p class="balaoVendedor">Oi Gabi, tudo ótimo</p>
            <p class="balaoCliente">Quando vai dar para fazer mais roupas de gato?</p>
            <p class="balaoVendedor">Oi Gabi. vou conseguir fazer por volta do dia 25, tenho trabalho de IHC.</p>
            <p class="balaoCliente">Vish. Boa sorte guerreira</p>
            <div class="enviarMensagem">
                <input type="text" id="mensagem">
                <button type="submit"><i class="fa-solid fa-caret-right"></i></button>
            </div>
        </div>
        
    </main>
    <footer>
        <a href="pesquisar.html" target="_self"><i class="fa-solid fa-magnifying-glass botaoPesquisar"></i></a>
        <a href="selecionarChat.html" target="_self"><i class="fa-solid fa-comment botaoChat"></i></a>
        <a href="calendario.html" target="_self" id="menuSelecionado"><p class="botaoData">SEG</p></a>
        <a href="favoritos.html" target="_self"><i class="fa-solid fa-heart botaoFavoritos"></i></a>
        <a href="menu_bar.html" target="_self"><i class="fa-solid fa-bars botaoMenuBar"></i></a>
    </footer>
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
</body>
</html>