<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/chatStyle.css">
    <link rel="stylesheet" href="../../public/css/sidebar.css">
    <title>Chats</title>
</head>
<body>
    <div id="overlay"></div>
    <header>
        <button type="button" id="botaoPrincipal"><img src="../../public/img/Logo.png" alt="Logo" id="logo"></button>
        <nav>
            <button type="button" class="botaoMenu">Home</button>
            <button type="button" class="botaoMenu">Pesquisar</button>
            <button type="button" class="botaoMenu">Calendário</button>
            <button type="button" class="botaoMenu">Favoritos</button>
            <button type="button" class="botaoMenu">Logar/Cadastrar</button>
            <button type="button" id="btnAbrirMenu" class="menuToggle"><i class="fa-solid fa-bars"></i></button>
        </nav>
    </header>
    
    <aside id="sidebarMenu" class="sidebar">
        <button class="btn-fechar"><i class="fa-solid fa-xmark"></i></button>
        <div id="clusterPerfil">
            <img src="https://paradepets.com/.image/c_fill,w_1200,h_1200,g_faces:center/NTowMDAwMDAwMDAwMTI0NDYz/sleepy-kitten.jpg" alt="Foto" class="fotoPerfil">
            <div class="infoPerfil">
                <p>Maria Andrade</p>
                <a href="perfil_user.html">Ver Perfil</a>
            </div>
            <button id="btnAbrirNotificacoes" class="botaoNotificacao"><i class="fa-solid fa-bell"></i></a>
        </div>
        
        <nav class="menuSection">
            <h4 class="sectionTitle">Vender no Murinho</h4>
            <a href="cadastro_produto.html">Cadastrar Produtos</a>
        </nav>
        <hr>
        <nav class="menuSection">
            <h4 class="sectionTitle">Geral</h4>
            <a href="favoritos.html">Favoritos</a>
            <a href="chatCrocheMia.html">Chats</a>
            <a href="../../index.html">Sair</a>
        </nav>
    </aside>

    <aside id="sidebarNotificacoes" class="sidebar">
        <div class="cabecalho-sidebar">
            <h2>Notificações</h2>
            <button class="btn-fechar"><i class="fa-solid fa-xmark"></i></button>
        </div>
        
        <div class="conteudo-sidebar">
            <div class="notificacao-item">
                <div class="secoesNotificacoes">
                    <h2 class="tituloSecao">Hoje</h2>
                    <div class="notificacao">
                        <span class="horarioNotificacao">12:00</span>
                        <p class="textoNotificacao">
                            Chegou novos produtos fresquinhos
                        </p>
                    </div>
                    <div class="notificacao">
                        <p class="horarioNotificacao">
                            00:00
                        </p>
                        <p class="textoNotificacao">
                            CrochêMia está vendendo algo de novo, venha ver!
                        </p>
                    </div>
                </div>
                <div class="secoesNotificacoes">
                    <h2 class="tituloSecao">Ontem</h2>
                    <div class="notificacao">
                        <p class="horarioNotificacao">
                            01:00
                        </p>
                        <p class="textoNotificacao">
                            50 pessoas visualizaram seus produtos hoje
                        </p>
                    </div>
                </div>
                <div class="secoesNotificacoes">
                    <h2 class="tituloSecao">Últimos 7 dias</h2>
                    <div class="notificacao">
                        <p class="horarioNotificacao">
                            10:00
                        </p>
                        <p class="textoNotificacao">
                            Bem vinda ao DigiMuro UNIRIO 3
                        </p>
                    </div>
                </div>
        </div>
    </aside>

    <main>
        <div class="chatWrapper">
            <!-- lista de conversas -->
            <aside class="listaChats" aria-label="Conversas">
                <div class="chatItem">
                    <a href="chatCrocheMia.html">
                        <img src="https://images.pexels.com/photos/16282655/pexels-photo-16282655.jpeg" alt="avatar">
                        <div class="meta">
                            <div class="nome">CrochêMia</div>
                            <div class="ultima">Vish. Boa sorte guerr...</div>
                        </div>
                    </a>
                </div>
                <div class="chatItem">
                    <a href="chatVendedorMis.html">
                        <img src="https://www.shutterstock.com/image-vector/mafia-spy-man-logo-tuxedo-260nw-2484236541.jpg" alt="avatar">
                        <div class="meta">
                            <div class="nome">Vendedor Misterioro</div>
                            <div class="ultima">Mensagem misteriosa...</div>
                        </div>
                    </a>
                </div>
                <div class="chatItem">
                    <a href="chatPokePlushies.html">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Kirby.png" alt="avatar">
                        <div class="meta">
                            <div class="nome">PokéPlushies</div>
                            <div class="ultima">Mas é de 15-3...</div>
                        </div>
                    </a>
                </div>
            </aside>

            <!-- conversa selecionada -->
            <section class="chatArea">
                <div id="subcabecalho">
                    <div class="infos">
                        <a href="vendedor.html">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Kirby.png" alt="FotoAtualizacao" class="fotoVendedor">
                            <p class="nomeVendedor">PokéPlushies</p>
                        </a>
                    </div>
                </div>

                <div class="corpoChat">
                    <p class="balaoCliente">Oiee</p>
                    <p class="balaoVendedor">Oi! Boa tarde</p>
                    <p class="balaoCliente">Queria saber se ta com encomenda aberta</p>
                    <p class="balaoCliente">Pra uma pelucia personalizada</p>
                    <p class="balaoVendedor">Olha</p>
                    <p class="balaoVendedor">A partir de semana que vem eu abro agenda</p>
                    <p class="balaoVendedor">Mas é de 15-30 dias pra ficar pronto</p>
                </div>

                <div class="enviarMensagem">
                    <input type="text" id="mensagem" placeholder="Escreva uma mensagem">
                    <button type="submit"><i class="fa-solid fa-caret-right"></i></button>
                </div>
            </section>
        </div>
    </main>

    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
    <script src="../../public/js/script.js"></script>
    <script src="../../public/js/menu_script.js"></script>
    <script src="../../public/js/chat_script.js"></script>
</body>
</html>