<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/editarProdutos_style.css">
    <link rel="stylesheet" href="../../public/css/sidebar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
</head>
<body>
    <div id="overlay"></div>
    <header>
        <button type="button" id="botaoPrincipal"><img src="../../public/img/Logo.png" alt="Logo" id="logo"></button>
        <nav>
            <button type="button" class="botaoMenu">Home</button>
            <button type="button" class="botaoMenu">Pesquisar</button>
            <button type="button" class="botaoMenu">Calendário</button>
            <button type="button" class="botaoMenu">Favoritos</button>
            <button type="button" class="botaoMenu">Logar/Cadastrar</button>
            <button type="button" id="btnAbrirMenu" class="menuToggle"><i class="fa-solid fa-bars"></i></button>
        </nav>
    </header>
    
    <aside id="sidebarMenu" class="sidebar">
        <button class="btn-fechar"><i class="fa-solid fa-xmark"></i></button>
        <div id="clusterPerfil">
            <img src="https://paradepets.com/.image/c_fill,w_1200,h_1200,g_faces:center/NTowMDAwMDAwMDAwMTI0NDYz/sleepy-kitten.jpg" alt="Foto" class="fotoPerfil">
            <div class="infoPerfil">
                <p>Maria Andrade</p>
                <a href="perfil_user.html">Ver Perfil</a>
            </div>
            <button id="btnAbrirNotificacoes" class="botaoNotificacao"><i class="fa-solid fa-bell"></i></a>
        </div>
        
        <nav class="menuSection">
            <h4 class="sectionTitle">Vender no Murinho</h4>
            <button type="button" class="navegacao">Cadastrar Produtos</button>
        </nav>
        <hr>
        <nav class="menuSection">
            <h4 class="sectionTitle">Geral</h4>
            <button type="button" class="navegacao">Favoritos</button>
            <button type="button" class="navegacao">Chats</button>
            <button type="button" class="navegacao">Sair</button>
        </nav>
    </aside>

    <aside id="sidebarNotificacoes" class="sidebar">
        <div class="cabecalho-sidebar">
            <h2>Notificações</h2>
            <button class="btn-fechar"><i class="fa-solid fa-xmark"></i></button>
        </div>
        
        <div class="conteudo-sidebar">
            <div class="notificacao-item">
                <div class="secoesNotificacoes">
                    <h2 class="tituloSecao">Hoje</h2>
                    <div class="notificacao">
                        <span class="horarioNotificacao">12:00</span>
                        <p class="textoNotificacao">
                            Chegou novos produtos fresquinhos
                        </p>
                    </div>
                    <div class="notificacao">
                        <p class="horarioNotificacao">
                            00:00
                        </p>
                        <p class="textoNotificacao">
                            CrochêMia está vendendo algo de novo, venha ver!
                        </p>
                    </div>
                </div>
                <div class="secoesNotificacoes">
                    <h2 class="tituloSecao">Ontem</h2>
                    <div class="notificacao">
                        <p class="horarioNotificacao">
                            01:00
                        </p>
                        <p class="textoNotificacao">
                            50 pessoas visualizaram seus produtos hoje
                        </p>
                    </div>
                </div>
                <div class="secoesNotificacoes">
                    <h2 class="tituloSecao">Últimos 7 dias</h2>
                    <div class="notificacao">
                        <p class="horarioNotificacao">
                            10:00
                        </p>
                        <p class="textoNotificacao">
                            Bem vinda ao DigiMuro UNIRIO 3
                        </p>
                    </div>
                </div>
        </div>
    </aside>
    <main>
        <form id="cadastrarProduto" method="get" action="perfil_user.html" enctype="multipart/form-data">
            <div class="form-group" id="fotoProduto">            
                <img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="Foto do Produto" class="fotoProduto">
                <input type="file" id="foto" name="foto" accept="image/*">
            </div>
            <div class="cluster">
                <div class="form-group" id="nomeProduto">
                    <label for="nome" class="chave">Nome:</label>
                    <input type="text" id="texto" name="nomeProduto" placeholder="Nome do Produto" value="Brigadeidos" autocomplete="off">
                </div>
                <div class="form-group" id="valorProduto">
                    <label for="valor" class="chave">Valor R$:</label>
                    <input type="text" id="texto" name="valorProduto" placeholder="R$ R$ 2,00"  autocomplete="off">
                </div>
                <div div class="form-group" id="formas-pagamento">
                    <label for="formaPagamento" class="chave">Forma de Pagamento:</label>
                    <label><input type="checkbox" name="pagamento[]" value="dinheiro" checked><i class="fa-solid fa-money-bill formaPagamento"></i></label>
                    <label><input type="checkbox" name="pagamento[]" value="pix"><i class="fa-brands fa-pix formaPagamento"></i></label>
                </div>
                <div class="form-group" id="dia-hora">
                    <label class="chave">Dias e Horários:</label>
                    <table class="calendario-horarios">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Seg</th>
                                <th>Ter</th>
                                <th>Qua</th>
                                <th>Qui</th>
                                <th>Sex</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>08:00-10:00</th>
                                <td><input type="checkbox" name="horarios[08:00-10:00][segunda]" checked></td>
                                <td><input type="checkbox" name="horarios[08:00-10:00][terca]" checked></td>
                                <td><input type="checkbox" name="horarios[08:00-10:00][quarta]" checked></td>
                                <td><input type="checkbox" name="horarios[08:00-10:00][quinta]" checked></td>
                                <td><input type="checkbox" name="horarios[08:00-10:00][sexta]" checked></td>
                            </tr>
                            <tr>
                                <th>10:00-12:00</th>
                                <td><input type="checkbox" name="horarios[10:00-12:00][segunda]" checked></td>
                                <td><input type="checkbox" name="horarios[10:00-12:00][terca]" checked></td>
                                <td><input type="checkbox" name="horarios[10:00-12:00][quarta]" checked></td>
                                <td><input type="checkbox" name="horarios[10:00-12:00][quinta]" checked></td>
                                <td><input type="checkbox" name="horarios[10:00-12:00][sexta]" checked></td>
                            </tr>
                            <tr>
                                <th>12:00-14:00</th>
                                <td><input type="checkbox" name="horarios[12:00-14:00][segunda]" checked></td>
                                <td><input type="checkbox" name="horarios[12:00-14:00][terca]" checked></td>
                                <td><input type="checkbox" name="horarios[12:00-14:00][quarta]" checked></td>
                                <td><input type="checkbox" name="horarios[12:00-14:00][quinta]" checked></td>
                                <td><input type="checkbox" name="horarios[12:00-14:00][sexta]" checked></td>
                            </tr>
                            <tr>
                                <th>14:00-16:00</th>
                                <td><input type="checkbox" name="horarios[14:00-16:00][segunda]"></td>
                                <td><input type="checkbox" name="horarios[14:00-16:00][terca]"></td>
                                <td><input type="checkbox" name="horarios[14:00-16:00][quarta]"></td>
                                <td><input type="checkbox" name="horarios[14:00-16:00][quinta]"></td>
                                <td><input type="checkbox" name="horarios[14:00-16:00][sexta]"></td>
                            </tr>
                            <tr>
                                <th>16:00-18:00</th>
                                <td><input type="checkbox" name="horarios[16:00-18:00][segunda]"></td>
                                <td><input type="checkbox" name="horarios[16:00-18:00][terca]"></td>
                                <td><input type="checkbox" name="horarios[16:00-18:00][quarta]"></td>
                                <td><input type="checkbox" name="horarios[16:00-18:00][quinta]"></td>
                                <td><input type="checkbox" name="horarios[16:00-18:00][sexta]"></td>
                            </tr>
                            <tr>
                                <th>18:00-20:00</th>
                                <td><input type="checkbox" name="horarios[18:00-20:00][segunda]"></td>
                                <td><input type="checkbox" name="horarios[18:00-20:00][terca]"></td>
                                <td><input type="checkbox" name="horarios[18:00-20:00][quarta]"></td>
                                <td><input type="checkbox" name="horarios[18:00-20:00][quinta]"></td>
                                <td><input type="checkbox" name="horarios[18:00-20:00][sexta]"></td>
                            </tr>
                            <tr>
                                <th>20:00-22:00</th>
                                <td><input type="checkbox" name="horarios[20:00-22:00][segunda]"></td>
                                <td><input type="checkbox" name="horarios[20:00-22:00][terca]"></td>
                                <td><input type="checkbox" name="horarios[20:00-22:00][quarta]"></td>
                                <td><input type="checkbox" name="horarios[20:00-22:00][quinta]"></td>
                                <td><input type="checkbox" name="horarios[20:00-22:00][sexta]"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>                
                <div class="form-group" id="descricao">
                    <label for="descricao" class="chave">Descrição:</label>
                    <textarea id="texto" class="descricao" name="descricao" rows="4" maxlength="250"  placeholder="Descrição do Produto">Uma caixinha com seis unidades de brigadeiros cobertos com granulados coloridos. Minha caixinha fica no murinho!</textarea>
                </div>
            </div>
            <button type="submit" id="botaoEditar" class="botaoEditar" onclick="">Salvar Alterações</button>
        </form>
    </main>
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
    <script src="../../public/js/script.js"></script>
    <script src="../../public/js/editar_produto_script.js"></script>
    <script src="../../public/js/menu_script.js"></script>
</body>
</html>