<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/favotiros.css">
    <title>Favoritos</title>
</head>
<body>
    <header>
        <button type="button" id="botaoPrincipal"><img src="../../public/img/Logo.png" alt="Logo" id="logo"></button>
        <nav>
            <button type="button" class="botaoMenu">Home</button>
            <button type="button" class="botaoMenu">Pesquisar</button>
            <button type="button" class="botaoMenu">Calendário</button>
            <button type="button" class="botaoMenu">Favoritos</button>
            <button type="button" class="botaoMenu">Logar/Cadastrar</button>
            <button type="button" id="botaoMenuLateral"><i class="fa-solid fa-bars"></i></button>
        </nav>
    </header>
    <main>        
        <form action="homePage.html" method="get">
            <label>
                <input type="text" class="inputPesquisar" placeholder="Pesquisar entre favoritos..." required>
                <button type="submit" class="botaoBusca"><i class="fa-solid fa-magnifying-glass"></i></button>
            </label>
        </form>

        <h1>Favoritos</h1><br>

        <div id="produtosContainer">
            <a href="produtoToucaGatos.html" class="exibicao" target="_self" rel="noopener noreferrer">
                <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Imagem de um gato usando touca">
                <div class="produtoInfo">
                    <p class="nomeProduto">Toucas para gatinhos</p>
                    <p class="preco">R$ 49,99</p>
                    <p class="botaoFavoritar"><i class="fa-solid fa-heart"></i></p>
                </div>
            </a>
            <a href="produtoToucaGatos.html" class="exibicao" target="_self" rel="noopener noreferrer">
                <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Imagem de um gato usando touca">
                <div class="produtoInfo">
                    <p class="nomeProduto">Toucas para gatinhos</p>
                    <p class="preco">R$ 49,99</p>
                    <p class="botaoFavoritar"><i class="fa-solid fa-heart"></i></p>
                </div>
            </a>

            <a href="produtoToucaGatos.html" class="exibicao" target="_self" rel="noopener noreferrer">
                <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Imagem de um gato usando touca">
                <div class="produtoInfo">
                    <p class="nomeProduto">Toucas para gatinhos</p>
                    <p class="preco">R$ 49,99</p>
                    <p class="botaoFavoritar"><i class="fa-solid fa-heart"></i></p>
                </div>
            </a>
        </div>

    </main>
    
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
    <script src="../../public/js/script.js"></script>
    <script src="../../public/js/card_script.js"></script>
</body>
</html>