<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/cardsProdutos.css">
    <title>Produtos do Dia</title>
</head>
<body>
    <header>
        <button type="button" id="botaoPrincipal"><img src="../../public/img/Logo.png" alt="Logo" id="logo"></button>
        <nav>
            <button type="button" class="botaoMenu">Home</button>
            <button type="button" class="botaoMenu">Pesquisar</button>
            <button type="button" class="botaoMenu">Calendário</button>
            <button type="button" class="botaoMenu">Favoritos</button>
            <button type="button" class="botaoMenu">Logar/Cadastrar</button>
            <button type="button" id="botaoMenuLateral"><i class="fa-solid fa-bars"></i></button>
        </nav>
    </header>
    <main>  
        <h3 id="subCabecalho">Segunda, 07/07/2025</h3>
        <div id="produtosContainer">
          <div class="exibicao">
                <a href="produtoToucaGatos.html" target="_self" rel="noopener noreferrer">
                    <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Imagem de um gato usando touca">
                </a>
                <div class="produtoInfo">
                    <p class="nomeProduto">Toucas para gatinhos</p>
                    <p class="preco">R$ 49,99</p>
                    <p class="botaoFavoritar"><i class="fa-solid fa-heart"></i></p>
                    <p class="formaPagamento"><i class="fa-brands fa-pix"></i></p>
                </div>
            </div>
            <div class="exibicao">
                <a href="produtoBrigadeiro.html" target="_self" rel="noopener noreferrer">
                    <img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="Imagem de brigadeiros">
                </a> 
                <div class="produtoInfo">
                    <p class="nomeProduto">Brigadeiros da Mari</p>
                    <p class="preco">R$ 2,00</p>
                    <p class="botaoFavoritar"><i class="fa-regular fa-heart"></i></p>
                    <p class="formaPagamento"><i class="fa-solid fa-money-bill"></i></p>
                </div>  
            </div>
            <div class="exibicao">
                <a href="produtoToucaGatos.html" target="_self" rel="noopener noreferrer">
                    <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Imagem de um gato usando touca">
                </a>
                <div class="produtoInfo">
                    <p class="nomeProduto">Toucas para gatinhos</p>
                    <p class="preco">R$ 49,99</p>
                    <p class="botaoFavoritar"><i class="fa-solid fa-heart"></i></p>
                    <p class="formaPagamento"><i class="fa-brands fa-pix"></i></p>
                </div>
            </div>
            <div class="exibicao">
                <a href="produtoBrigadeiro.html" target="_self" rel="noopener noreferrer">
                    <img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="Imagem de brigadeiros">
                </a> 
                <div class="produtoInfo">
                    <p class="nomeProduto">Brigadeiros da Mari</p>
                    <p class="preco">R$ 2,00</p>
                    <p class="botaoFavoritar"><i class="fa-regular fa-heart"></i></p>
                    <p class="formaPagamento"><i class="fa-solid fa-money-bill"></i></p>
                </div>  
            </div>
            <div class="exibicao">
                <a href="produtoToucaGatos.html" target="_self" rel="noopener noreferrer">
                    <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Imagem de um gato usando touca">
                </a>
                <div class="produtoInfo">
                    <p class="nomeProduto">Toucas para gatinhos</p>
                    <p class="preco">R$ 49,99</p>
                    <p class="botaoFavoritar"><i class="fa-solid fa-heart"></i></p>
                    <p class="formaPagamento"><i class="fa-brands fa-pix"></i></p>
                </div>
            </div>
            <div class="exibicao">
                <a href="produtoBrigadeiro.html" target="_self" rel="noopener noreferrer">
                    <img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="Imagem de brigadeiros">
                </a> 
                <div class="produtoInfo">
                    <p class="nomeProduto">Brigadeiros da Mari</p>
                    <p class="preco">R$ 2,00</p>
                    <p class="botaoFavoritar"><i class="fa-regular fa-heart"></i></p>
                    <p class="formaPagamento"><i class="fa-solid fa-money-bill"></i></p>
                </div>  
            </div>
            <div class="exibicao">
                <a href="produtoToucaGatos.html" target="_self" rel="noopener noreferrer">
                    <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Imagem de um gato usando touca">
                </a>
                <div class="produtoInfo">
                    <p class="nomeProduto">Toucas para gatinhos</p>
                    <p class="preco">R$ 49,99</p>
                    <p class="botaoFavoritar"><i class="fa-solid fa-heart"></i></p>
                    <p class="formaPagamento"><i class="fa-brands fa-pix"></i></p>
                </div>
            </div>
            <div class="exibicao">
                <a href="produtoBrigadeiro.html" target="_self" rel="noopener noreferrer">
                    <img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="Imagem de brigadeiros">
                </a> 
                <div class="produtoInfo">
                    <p class="nomeProduto">Brigadeiros da Mari</p>
                    <p class="preco">R$ 2,00</p>
                    <p class="botaoFavoritar"><i class="fa-regular fa-heart"></i></p>
                    <p class="formaPagamento"><i class="fa-solid fa-money-bill"></i></p>
                </div>  
            </div>
            <div class="exibicao">
                <a href="produtoToucaGatos.html" target="_self" rel="noopener noreferrer">
                    <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Imagem de um gato usando touca">
                </a>
                <div class="produtoInfo">
                    <p class="nomeProduto">Toucas para gatinhos</p>
                    <p class="preco">R$ 49,99</p>
                    <p class="botaoFavoritar"><i class="fa-solid fa-heart"></i></p>
                    <p class="formaPagamento"><i class="fa-brands fa-pix"></i></p>
                </div>
            </div>  
        </div>
    </main>
        <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
        <script src="../../public/js/script.js"></script>
        <script src="../../public/js/card_script.js"></script>
</body>
</html>