<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/home.css">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="../../index.html"><img src="../../public/img/Logo.png" alt="Logo" id="logo"></a>
        <nav>
            <a href="homePage.html">Home</a>
            <a href="pesquisar.html">Pesquisar</a>
            <a href="calendario.html">Calendário</a>
            <a href="favoritos.html">Favoritos</a>
            <a href="login.html">Logar/Cadastrar</a>
            <a href="menu_bar.html"><i class="fa-solid fa-bars"></i></a>
        </nav>
    </header>
    <main>  
        <h3 id="subCabecalho">Segunda, 07/07/2025</h3>
        <div id="containerPosts">
            <a href="produtoToucaGatos.html" class="post">
                <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="" class="foto">
                <div class="texto">
                    <p class="titulo">Touca para gatos</p>
                    <i class="fa-solid fa-heart favoritar"></i>
                    <p class="valor">R$ 49,99</p>
                    <i class="fa-brands fa-pix formaPagamento"></i>
                </div>
                
            </a>
            <a href="produtoBrigadeiro.html" class="post">
                <img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="" class="foto">
                <div class="texto">
                    <p class="titulo">Brigadeiros da Mari</p>
                    <i class="fa-solid fa-heart favoritar"></i>
                    <p class="valor">R$ 2,00</p>
                    <i class="fa-solid fa-money-bill formaPagamento"></i>
                </div>
            </a>
            <a href="produtoToucaGatos.html" class="post">
                <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="" class="foto">
                <div class="texto">
                    <p class="titulo">Touca para gatos</p>
                    <i class="fa-solid fa-heart favoritar"></i>
                    <p class="valor">R$ 49,99</p>
                    <i class="fa-brands fa-pix formaPagamento"></i>
                </div>
                
            </a>
            <a href="produtoBrigadeiro.html" class="post">
                <img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="" class="foto">
                <div class="texto">
                    <p class="titulo">Brigadeiros da Mari</p>
                    <i class="fa-solid fa-heart favoritar"></i>
                    <p class="valor">R$ 2,00</p>
                    <i class="fa-solid fa-money-bill formaPagamento"></i>
                </div>
            </a>
            <a href="produtoToucaGatos.html" class="post">
                <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="" class="foto">
                <div class="texto">
                    <p class="titulo">Touca para gatos</p>
                    <i class="fa-solid fa-heart favoritar"></i>
                    <p class="valor">R$ 49,99</p>
                    <i class="fa-brands fa-pix formaPagamento"></i>
                </div>
                
            </a>
                <a href="produtoBrigadeiro.html" class="post">
                <img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="" class="foto">
                <div class="texto">
                    <p class="titulo">Brigadeiros da Mari</p>
                    <i class="fa-solid fa-heart favoritar"></i>
                    <p class="valor">R$ 2,00</p>
                    <i class="fa-solid fa-money-bill formaPagamento"></i>
                </div>
            </a>
            <a href="produtoToucaGatos.html" class="post">
                <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="" class="foto">
                <div class="texto">
                    <p class="titulo">Touca para gatos</p>
                    <i class="fa-solid fa-heart favoritar"></i>
                    <p class="valor">R$ 49,99</p>
                    <i class="fa-brands fa-pix formaPagamento"></i>
                </div>
                
            </a>
            <a href="produtoBrigadeiro.html" class="post">
                <img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="" class="foto">
                <div class="texto">
                    <p class="titulo">Brigadeiros da Mari</p>
                    <i class="fa-solid fa-heart favoritar"></i>
                    <p class="valor">R$ 2,00</p>
                    <i class="fa-solid fa-money-bill formaPagamento"></i>
                </div>
            </a>
        </div>
    </main>
    
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
</body>
</html>