<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/login_style.css">
    <title>Login</title>
</head>
<body>
    <header id="cabecalhoIntermediario">
        <a href="../../index.html"><img src="../../public/img/Logo.png" alt="Logo" id="logo"></a>
    </header>
    <main>
        <form action="homePage.html" method="get">
            <h1>Login</h1>
            <div id="campos">
                <label>
                    Email: <input type="email"placeholder="user@gmail.com" required>
                </label>
                <label>
                    Senha: <input type="password" required>
                    <i class="fa-solid fa-eye"></i>
                 <i class="fa-solid fa-eye-slash escondido"></i>
                </label>    
            </div>
            
            <button type="submit">Entrar</button>
            <a href="cadastra.html" target="_self" rel="noopener noreferrer">Não tem uma conta? Crie já!</a>
        </form> 
    </main>
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
    const passwordInput = document.querySelector('input[type="password"]');
    const eyeIcon = document.querySelector('.fa-eye');
    const eyeSlashIcon = document.querySelector('.fa-eye-slash');
    
    // Função para mostrar a senha
    eyeIcon.addEventListener('click', function() {
        passwordInput.type = 'text';
        eyeIcon.classList.add('escondido');
        eyeSlashIcon.classList.remove('escondido');
    });
    
    // Função para esconder a senha
    eyeSlashIcon.addEventListener('click', function() {
        passwordInput.type = 'password';
        eyeSlashIcon.classList.add('escondido');
        eyeIcon.classList.remove('escondido');
    });
});
    </script>
</body>
</html>