<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/menu_bar.css">
    <title>Menu</title>
</head>
<body>
    <main>
        <!-- a visibilidade vai depender de integrar o JS depois,
         aqui foi so pra ja deixar montado o esqueleto -->
        <aside id="menuSidebar" aria-hidden="true" class="open">
            <div id="clusterPerfil">
                <img src="https://paradepets.com/.image/c_fill,w_1200,h_1200,g_faces:center/NTowMDAwMDAwMDAwMTI0NDYz/sleepy-kitten.jpg" alt="Foto de Perfil" class="fotoPerfil">
                <div class="clusterPerfil">
                    <p>Maria Andrade</p>
                    <a href="perfil_user.html">Ver Perfil</a>
                </div>
                <a href="notificacoes.html" class="botaoNotificacao"><i class="fa-solid fa-bell"></i></a>
            </div>
            <hr>
            <nav class="menuSection" aria-label="Vender no Murinho">
                <h4 class="sectionTitle">Vender no Murinho</h4>
                <a href="cadastro_produto.html">Cadastrar Produtos</a>
                <a href="meus_produtos.html">Meus Produtos</a>
            </nav>
            <hr>
            <nav class="menuSection" aria-label="Geral">
                <h4 class="sectionTitle">Geral</h4>
                <a href="favoritos.html">Favoritos</a><br>
                <a href="favoritos.html">Chats</a><br>
                <a href="favoritos.html">Pesquisas</a><br>
                <a href="../../index.html" target="_self">Sair</a>
            </nav>
        </aside>
    </main>
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
</body>
</html>