<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/meusProdutos_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Produtos</title>
</head>
<body>
    <header>
        <img src="../../public/img/Logo.png" alt="Logo" id="logo">
        <nav>
            <a href="http://">Home</a>
            <a href="http://">Pesquisar</a>
            <a href="http://">Calendário</a>
            <a href="http://">Favoritos</a>
            <a href="http://">Logar/Cadastrar</a>
            <a href="http://"><i class="fa-solid fa-bars"></i></a>
        </nav>
    </header>
    <main>
        <div class="post">
            <!-- nome do produto e pela imagem: link pro produto publicado -->
            <!-- <div class="postCabecalho">
                <a href="produtoCrocheMia.html" target="_self" rel="noopener noreferrer" class="titulo">Nome do Produto</a>
            </div> -->
            <a href="http://" target="_self" rel="noopener noreferrer" class="titulo"><img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="Imagem do Post"></a>
            <!-- botao que leva a editar produto -->
            <div class="postCabecalho">
                <a href="produtoBrigadeiro.html" target="_self" rel="noopener noreferrer" class="titulo">Brigadeiros</a>
            </div>
            <div class="postRodape">
                <p class="preco">R$ 2,00</p>
                <i class="fa-solid fa-money-bill formaPagamento"></i>
                <a href="editar_produto.html" target="_self" rel="noopener noreferrer" class="botaoEditar">Editar Produto</a>
            </div>
        </div>
    </main>
    <footer>
        <a href="pesquisar.html" target="_self"><i class="fa-solid fa-magnifying-glass botaoPesquisar"></i></a>
        <a href="selecionarChat.html" target="_self"><i class="fa-solid fa-comment botaoChat"></i></a>
        <a href="calendario.html" target="_self" id="menuSelecionado"><p class="botaoData">SEG</p></a>
        <a href="favoritos.html" target="_self"><i class="fa-solid fa-heart botaoFavoritos"></i></a>
        <a href="menu_bar.html" target="_self"><i class="fa-solid fa-bars botaoMenuBar"></i></a>
    </footer>
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
</body>
</html>