<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/notificacoes_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificações</title>
</head>
<body>
    <main>
    <aside class="open" aria-hidden="true">
        <div class="secoes">
            <h2 class="tituloSecao">Hoje</h2>
            <div class="notificacao">
                <p class="horario">
                    12:00
                </p>
                <p class="texto">
                    Chegou novos produtos fresquinhos
                </p>
            </div>
            <div class="notificacao">
                <p class="horario">
                    00:00
                </p>
                <p class="texto">
                    CrochêMia está vendendo algo de novo, venha ver!
                </p>
            </div>
        </div>
        <div class="secoes">
            <h2 class="tituloSecao">Ontem</h2>
            <div class="notificacao">
                <p class="horario">
                    01:00
                </p>
                <p class="texto">
                    50 pessoas visualizaram seus produtos hoje
                </p>
            </div>
        </div>
        <div class="secoes">
            <h2 class="tituloSecao">Últimos 7 dias</h2>
            <div class="notificacao">
                <p class="horario">
                    10:00
                </p>
                <p class="texto">
                    Bem vinda ao DigiMuro UNIRIO 3
                </p>
            </div>
        </div>
    </aside>
    </main>
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
</body>
</html>