<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/perfil_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <header id="cabecalhoIntermediario">
        <img src="../../public/img/Logo.png" alt="Logo" id="logo">
        <h1>Perfil</h1>
        <a href="homePage.html" target="_self"><i class="fa-solid fa-x botaoVoltar"></i></a>
    </header>
    <main>
        <div id="perfilContainer">
            <img src="https://images.pexels.com/photos/29617012/pexels-photo-29617012.jpeg" alt="Foto de Capa" class="fotoCapa">
            <img src="https://images.pexels.com/photos/16282655/pexels-photo-16282655.jpeg" alt="Foto de Perfil" class="fotoPerfil">
            <h2 id="nomeUsuario">CrocheMia</h2>
            <p id="descricaoUsuario">Amante de crochê e gatos.</p>
            <a href="chatCrocheMia.html" class="botaoEditar">Mandar Mensagem</a>
        </div>
        <div id="produtosContainer">
            <a href="produtoCrocheMia.html" target="_self" rel="noopener noreferrer" class="exibicao"><img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Imagem do Post"></a>
        </div>
        </main>
    <footer>
        <a href="pesquisar.html" target="_self"><i class="fa-solid fa-magnifying-glass botaoPesquisar"></i></a>
        <a href="selecionarChat.html" target="_self"><i class="fa-solid fa-comment botaoChat"></i></a>
        <a href="calendario.html" target="_self" id="menuSelecionado"><p class="botaoData">SEG</p></a>
        <a href="favoritos.html" target="_self"><i class="fa-solid fa-heart botaoFavoritos"></i></a>
        <a href="menu_bar.html" target="_self"><i class="fa-solid fa-bars botaoMenuBar"></i></a>
    </footer>
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
</body>
</html>