<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/Pesquisar_style.css">
    <title>Pesquisa</title>
</head>
<body>
    <header>
        <img src="../../public/img/Logo.png" alt="Logo" id="logo">
        <nav>
            <a href="http://">Home</a>
            <a href="http://">Pesquisar</a>
            <a href="http://">Calendário</a>
            <a href="http://">Favoritos</a>
            <a href="http://">Logar/Cadastrar</a>
            <a href="http://"><i class="fa-solid fa-bars"></i></a>
        </nav>
    </header>
    <main>
        <form action="homePage.html" method="get">
            <label class="labelPesquisar">
                <input type="text" class="inputPesquisar" placeholder="Pesquisar produtos..." required>
                <button type="submit" class="botaoBusca"><i class="fa-solid fa-magnifying-glass"></i></button>
            </label>
            <div class="botoes">
                <button type="button" class="botaoFiltro">Doces</button>
                <button type="button" class="botaoFiltro">Salgados</button>
                <button type="button" class="botaoFiltro">Roupas</button>
                <button type="button" class="botaoFiltro">Livros</button>
                <label for="filtroValor" class="botaoFiltro botaoFiltroSelecionado">
                    R$+ <input type="number" placeholder="R$ 100" class="inputValor" min="1">
                </label>
                <label for="filtroValor" class="botaoFiltro botaoFiltroSelecionado">
                    R$- <input type="number" placeholder="R$ 1" class="inputValor" min="1">
                </label>
            </div>
            
        </form>

        <h1>Pesquisa de Produtos</h1>
        <div id="produtosContainer">
            <a href="vendedor.html" class="exibicao" target="_self" rel="noopener noreferrer">
                <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Imagem de um gato usando touca">
                <div class="produtoInfo">
                    <p class="nomeProduto">Toucas para gatinhos</p>
                    <p class="preco">R$ 49,99</p>
                    <p class="botaoFavoritar"><i class="fa-solid fa-heart"></i></p>
                </div>
            </a>
            <a href="perfil_user.html" class="exibicao" target="_self" rel="noopener noreferrer">
                <img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="Imagem de brigadeiros">
                <div class="produtoInfo">
                    <p class="nomeProduto">Brigadeiros da Mari</p>
                    <p class="preco">R$ 2,00</p>
                    <p class="botaoFavoritar"><i class="fa-regular fa-heart"></i></p>
                </div>
            </a>    
            <a href="vendedor.html" class="exibicao" target="_self" rel="noopener noreferrer">
                <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Imagem de um gato usando touca">
                <div class="produtoInfo">
                    <p class="nomeProduto">Toucas para gatinhos</p>
                    <p class="preco">R$ 49,99</p>
                    <p class="botaoFavoritar"><i class="fa-solid fa-heart"></i></p>
                </div>
            </a>
            <a href="perfil_user.html" class="exibicao" target="_self" rel="noopener noreferrer">
                <img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="Imagem de brigadeiros">
                <div class="produtoInfo">
                    <p class="nomeProduto">Brigadeiros da Mari</p>
                    <p class="preco">R$ 2,00</p>
                    <p class="botaoFavoritar"><i class="fa-regular fa-heart"></i></p>
                </div>
            </a>
        </div>
    </main>
    
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
</body>
</html>