<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/produtoSelecionado_style.css">
    <title>Brigadeiros</title>
</head>
<body>
    <header>
        <button type="button" id="botaoPrincipal"><img src="../../public/img/Logo.png" alt="Logo" id="logo"></button>
        <nav>
            <button type="button" class="botaoMenu">Home</button>
            <button type="button" class="botaoMenu">Pesquisar</button>
            <button type="button" class="botaoMenu">Calendário</button>
            <button type="button" class="botaoMenu">Favoritos</button>
            <button type="button" class="botaoMenu">Logar/Cadastrar</button>
            <button type="button" id="botaoMenuLateral"><i class="fa-solid fa-bars"></i></button>
        </nav>
    </header>
    <main>
        <div id="cardProdutoSelecionado">
            <div id="fotoProduto">
                <img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="Produto">
            </div>
            <div id="dadosProduto">
                <p class="nomeProduto">Brigadeiros da Mari</p>
                <p><a href="perfil_user.html" target="_self"><img src="https://paradepets.com/.image/c_fill,w_1200,h_1200,g_faces:center/NTowMDAwMDAwMDAwMTI0NDYz/sleepy-kitten.jpg"  id="fotoVendedor"alt="Vendedor">Maria Andrade</a>
                <button type="button" class="botaoFavoritar"><i class="fa-regular fa-heart"></i></button>
                <a href="editar_produto.html" class="botao">Editar Produto</a>
                <p id="pagamento">R$ 2,00<i class="fa-solid fa-money-bill formaPagamento" title="Dinheiro"></i></p>
                <p id="descricao">
                Uma caixinha com doze unidades de brigadeiros cobertos com granulados coloridos. Minha caixinha fica no murinho!
                </p>
                <h2>Avaliação</h2>
                <p>Nota:
                <select name="nota" id="notas">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select></p>
                <textarea name="comentario" id="caixa_avaliação"></textarea>
                <input type="submit" class="botao" value="Enviar">
                <input type="reset" class="botao" value="Limpar">

            </div>
        </div>
        <div id="avaliacoes">
            <h2>Avaliações</h2>
            <div class="avaliado">
                <p>Nota: 5</p>
                <p class="comentario">Comentário sobre como o brigadeiro é top</p>
            </div>

        </div>
        
        
    </main>

    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
        <script src="../../public/js/script.js"></script>
</body>
</html>