<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/produtoSelecionado_style.css">
    <title>Touca para gatinhos</title>
</head>
<body>
    <header>
        <button type="button" id="botaoPrincipal"><img src="../../public/img/Logo.png" alt="Logo" id="logo"></button>
        <nav>
            <button type="button" class="botaoMenu">Home</button>
            <button type="button" class="botaoMenu">Pesquisar</button>
            <button type="button" class="botaoMenu">Calendário</button>
            <button type="button" class="botaoMenu">Favoritos</button>
            <button type="button" class="botaoMenu">Logar/Cadastrar</button>
            <button type="button" id="botaoMenuLateral"><i class="fa-solid fa-bars"></i></button>
        </nav>
    </header>
    <main>
        <div id="cardProdutoSelecionado">
            <div id="fotoProduto">
                <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Produto">
            </div>
            <div id="dadosProduto">
                <p class="nomeProduto">Touca para Gatinhos</p>
                <p><a href="vendedor.html" target="_self"><img src="https://images.pexels.com/photos/16282655/pexels-photo-16282655.jpeg"  id="fotoVendedor"alt="Vendedor">CrochêMia</a>
                <i class="fa-regular fa-heart"></i>
                <p id="pagamento">R$ 49,99<i class="fa-brands fa-pix formaPagamento" title="Dinheiro"></i></p>
                <p id="descricao">
                As melhores tucas para o seu gatinho lindo!
                </p>
                <h2>Avaliação</h2>
                <p>Nota:
                <select name="nota" id="notas">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select></p>
                <textarea name="comentario" id="caixa_avaliacao"></textarea>
                <input type="submit" class="botao" value="Enviar">
                <input type="reset" class="botao" value="Limpar">

            </div>
        </div>
        <div id="avaliacoes">
            <h2>Avaliações</h2>
            <div class="avaliado">
                <p>Nota: 5</p>
                <p class="comentario">Comentário sobre como meu gato ficou lindo</p>
            </div>

        </div>
        
        
    </main>

    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
        <script src="../../public/js/script.js"></script>
         <script src="../../public/js/card_script.js"></script>
</body>
</html>