<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/produtoSelecionado_style.css">
    <link rel="stylesheet" href="../../public/css/sidebar.css">
    <title>Touca para gatinhos</title>
</head>
<body>
    <div id="overlay"></div>
    <header>
        <button type="button" id="botaoPrincipal"><img src="../../public/img/Logo.png" alt="Logo" id="logo"></button>
        <nav>
            <button type="button" class="botaoMenu">Home</button>
            <button type="button" class="botaoMenu">Pesquisar</button>
            <button type="button" class="botaoMenu">Calendário</button>
            <button type="button" class="botaoMenu">Favoritos</button>
            <button type="button" class="botaoMenu">Logar/Cadastrar</button>
            <button type="button" id="btnAbrirMenu" class="menuToggle"><i class="fa-solid fa-bars"></i></button>
        </nav>
    </header>
    
    <aside id="sidebarMenu" class="sidebar">
        <button class="btn-fechar"><i class="fa-solid fa-xmark"></i></button>
        <div id="clusterPerfil">
            <img src="https://paradepets.com/.image/c_fill,w_1200,h_1200,g_faces:center/NTowMDAwMDAwMDAwMTI0NDYz/sleepy-kitten.jpg" alt="Foto" class="fotoPerfil">
            <div class="infoPerfil">
                <p>Maria Andrade</p>
                <a href="perfil_user.html">Ver Perfil</a>
            </div>
            <button id="btnAbrirNotificacoes" class="botaoNotificacao"><i class="fa-solid fa-bell"></i></a>
        </div>
        
        <nav class="menuSection">
            <h4 class="sectionTitle">Vender no Murinho</h4>
            <a href="cadastro_produto.html">Cadastrar Produtos</a>
        </nav>
        <hr>
        <nav class="menuSection">
            <h4 class="sectionTitle">Geral</h4>
            <a href="favoritos.html">Favoritos</a>
            <a href="chatCrocheMia.html">Chats</a>
            <a href="../../index.html">Sair</a>
        </nav>
    </aside>

    <aside id="sidebarNotificacoes" class="sidebar">
        <div class="cabecalho-sidebar">
            <h2>Notificações</h2>
            <button class="btn-fechar"><i class="fa-solid fa-xmark"></i></button>
        </div>
        
        <div class="conteudo-sidebar">
            <div class="notificacao-item">
                <div class="secoesNotificacoes">
                    <h2 class="tituloSecao">Hoje</h2>
                    <div class="notificacao">
                        <span class="horarioNotificacao">12:00</span>
                        <p class="textoNotificacao">
                            Chegou novos produtos fresquinhos
                        </p>
                    </div>
                    <div class="notificacao">
                        <p class="horarioNotificacao">
                            00:00
                        </p>
                        <p class="textoNotificacao">
                            CrochêMia está vendendo algo de novo, venha ver!
                        </p>
                    </div>
                </div>
                <div class="secoesNotificacoes">
                    <h2 class="tituloSecao">Ontem</h2>
                    <div class="notificacao">
                        <p class="horarioNotificacao">
                            01:00
                        </p>
                        <p class="textoNotificacao">
                            50 pessoas visualizaram seus produtos hoje
                        </p>
                    </div>
                </div>
                <div class="secoesNotificacoes">
                    <h2 class="tituloSecao">Últimos 7 dias</h2>
                    <div class="notificacao">
                        <p class="horarioNotificacao">
                            10:00
                        </p>
                        <p class="textoNotificacao">
                            Bem vinda ao DigiMuro UNIRIO 3
                        </p>
                    </div>
                </div>
        </div>
    </aside>
    <main>
        <div id="cardProdutoSelecionado">
            <div id="fotoProduto">
                <img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Produto">
            </div>
            <div id="dadosProduto">
                <p class="nomeProduto">Touca para Gatinhos</p>
                <p><a href="vendedor.html" target="_self"><img src="https://images.pexels.com/photos/16282655/pexels-photo-16282655.jpeg"  id="fotoVendedor"alt="Vendedor">CrochêMia</a>
                <i class="fa-regular fa-heart"></i>
                <p id="pagamento">R$ 49,99<i class="fa-brands fa-pix formaPagamento" title="Dinheiro"></i></p>
                <p id="descricao">
                As melhores tucas para o seu gatinho lindo!
                </p>
                <h2>Avaliação</h2>
                <p>Nota:
                <select name="nota" id="notas">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select></p>
                <textarea name="comentario" id="caixa_avaliacao"></textarea>
                <input type="submit" class="botao" value="Enviar">
                <input type="reset" class="botao" value="Limpar">

            </div>
        </div>
        <div id="avaliacoes">
            <h2>Avaliações</h2>
            <div class="avaliado">
                <p>Nota: 5</p>
                <p class="comentario">Comentário sobre como meu gato ficou lindo</p>
            </div>

        </div>
    </main>

    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
        <script src="../../public/js/script.js"></script>
        <script src="../../public/js/card_script.js"></script>
        <script src="../../public/js/menu_script.js"></script>
</body>
</html>