<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/produtoSelecionado_style.css">
    <title>Brigadeiros</title>
</head>
<body>
    <header>
        <img src="../../public/img/Logo.png" alt="Logo" id="logo">
        <nav>
            <a href="http://">Home</a>
            <a href="http://">Pesquisar</a>
            <a href="http://">Calendário</a>
            <a href="http://">Favoritos</a>
            <a href="http://">Logar/Cadastrar</a>
            <a href="http://"><i class="fa-solid fa-bars"></i></a>
        </nav>
    </header>
    <main>
        <div id="cardProdutoSelecionado">
            <div id="fotoProduto">
                <img src="https://images.pexels.com/photos/6441136/pexels-photo-6441136.jpeg" alt="Produto">
            </div>
            <div id="dadosProduto">
                <p class="nomeProduto">Brigadeiros</p>
                <p><a href="perfil_user.html" target="_self"><img src="../../public/img/Foto_Perfil.png" alt="Vendedor">Maria Andrade</a>
                <button type="button" class="botaoFavoritar"><i class="fa-regular fa-heart"></i></button>
                <a href="compartilhar.html" target="_blank"><i class="fa-solid fa-share-nodes"></i></a> <!--depois transofrmar isso num alert com "link copiado"--></p>
                <p id="pagamento">R$ 2,00<i class="fa-solid fa-money-bill formaPagamento" title="Dinheiro"></i></p>
                <p id="descricao">
                Uma caixinha com seis unidades de brigadeiros cobertos com granulados coloridos. Minha caixinha fica no murinho!
                </p>
                <h2>Avaliação</h2>
                <p>Nota:
                <select name="nota" id="notas">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select></p>
                <textarea name="comentario" id="caixa_avaliação"></textarea>
                <input type="submit" value="Enviar">
                <input type="reset" value="Limpar">

            </div>
        </div>
        <div id="avaliacoes">
            <h2>Avaliações</h2>
            <div class="avaliado">
                <p>Nota: 5</p>
                <p class="comentario">Comentário sobre como o brigadeiro é top</p>
            </div>

        </div>
        
        
    </main>

    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
</body>
</html>