<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/selecinarChat_style.css">
    <title>Chats</title>
</head>
<body>
    <header>
        <img src="../../public/img/Logo.png" alt="Logo" id="logo">
        <nav>
            <a href="http://">Home</a>
            <a href="http://">Pesquisar</a>
            <a href="http://">Calendário</a>
            <a href="http://">Favoritos</a>
            <a href="http://">Logar/Cadastrar</a>
            <a href="http://"><i class="fa-solid fa-bars"></i></a>
        </nav>
    </header>
    <main>
        <a href="chatCrocheMia.html" target="_self" class="linkChat">
            <div class="cardContato">
                <img src="https://images.pexels.com/photos/16282655/pexels-photo-16282655.jpeg" alt="FotoAtualizacao" class="fotoVendedor">
                <div class="divTextos">
                    <p class="nomeVendedor">CrochêMia</p>
                    <p class="texto">Oi Gabi. vou fazer o seu pedido dia 25, tenho trabalho de IHC..</p>
                </div>
                <p class="data">20/07/2025</p>
            </div>
        </a>   
    </main>
    <footer>
        <a href="pesquisar.html" target="_self"><i class="fa-solid fa-magnifying-glass botaoPesquisar"></i></a>
        <a href="selecionarChat.html" target="_self"><i class="fa-solid fa-comment botaoChat"></i></a>
        <a href="calendario.html" target="_self" id="menuSelecionado"><p class="botaoData">SEG</p></a>
        <a href="favoritos.html" target="_self"><i class="fa-solid fa-heart botaoFavoritos"></i></a>
        <a href="menu_bar.html" target="_self"><i class="fa-solid fa-bars botaoMenuBar"></i></a>
    </footer>
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
</body>
</html>