<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/perfil_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendedor</title>
</head>
<body>
    <header>
        <button type="button" id="botaoPrincipal"><img src="../../public/img/Logo.png" alt="Logo" id="logo"></button>
        <nav>
            <button type="button" class="botaoMenu">Home</button>
            <button type="button" class="botaoMenu">Pesquisar</button>
            <button type="button" class="botaoMenu">Calendário</button>
            <button type="button" class="botaoMenu">Favoritos</button>
            <button type="button" class="botaoMenu">Logar/Cadastrar</button>
            <button type="button" id="botaoMenuLateral"><i class="fa-solid fa-bars"></i></button>
        </nav>
    </header>
    <main>
        <div id="perfilContainer">
            <img src="https://as2.ftcdn.net/jpg/04/91/54/41/1000_F_491544123_4nVEtw3SHCCLOzuFb8jx5iErUnunLnDF.jpg" alt="Foto de Capa" class="fotoCapa">
            <img src="https://images.pexels.com/photos/16282655/pexels-photo-16282655.jpeg" alt="Foto de Perfil" class="fotoPerfil">
            <h2 id="nomeUsuario">CrochêMia</h2>
            <p id="descricaoUsuario">Estudante de História que ama fazer crochê para gatinhos!</p>
            <!--esse é o botão que vai pro chat direto do vendedor--> 
            <a href="chatCrocheMia.html" class="botaoMensagem">Mensagem</a>
        </div>
        <div id="produtosContainer">
            <a href="produtoToucaGatos.html" target="_self" rel="noopener noreferrer" class="exibicao"><img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Imagem do Post"></a>
            <a href="produtoToucaGatos.html" target="_self" rel="noopener noreferrer" class="exibicao"><img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Imagem do Post"></a>
            <a href="produtoToucaGatos.html" target="_self" rel="noopener noreferrer" class="exibicao"><img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Imagem do Post"></a>
        </div>
        </main>
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
        <script src="../../public/js/script.js"></script>
</body>
</html>