<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/vendedor_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendedor</title>
</head>
<body>
     <header>
        <img src="../../public/img/Logo.png" alt="Logo" id="logo">
        <nav>
            <a href="http://" target="_self" rel="noopener noreferrer"><i class="fa-solid fa-cloud botaoClima"></i></a>
            <a href="http://" target="_self" rel="noopener noreferrer"><img src="../../public/img/Roleta.png" alt="Roleta"></a>
            <a href="ranking.html" target="_self" rel="noopener noreferrer"><i class="fa-solid fa-ranking-star botaoRanking"></i></a>
        </nav>
        
    </header>
    <main>
        <div id="perfilContainer">
            <img src="https://as2.ftcdn.net/jpg/04/91/54/41/1000_F_491544123_4nVEtw3SHCCLOzuFb8jx5iErUnunLnDF.jpg" alt="Foto de Capa" class="fotoCapa">
            <img src="https://images.pexels.com/photos/16282655/pexels-photo-16282655.jpeg" alt="Foto de Perfil" class="fotoPerfil">
            <h2 id="nomeUsuario">CrochêMia</h2>
            <p id="descricaoUsuario">Estudante de História que ama fazer crochê para gatinhos!</p>
            <!--esse é o botão que vai pro chat direto do vendedor, 
            troquei o nome da classe pra nao confundir com o mesmo que fica no footer--> 
            <a href="chatCrocheMia.html" class="botaoMensagem">Mensagem</a>
            <a href="criar_sugestao.html" class="botaoSugestao">Enviar Sugestão</i></a>
        </div>
        <div id="produtosContainer">
            <a href="produtoCrocheMia.html" target="_self" rel="noopener noreferrer" class="exibicao"><img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Imagem do Post"></a>
            <a href="produtoCrocheMia.html" target="_self" rel="noopener noreferrer" class="exibicao"><img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Imagem do Post"></a>
            <a href="produtoCrocheMia.html" target="_self" rel="noopener noreferrer" class="exibicao"><img src="https://cf.shopee.com.br/file/85ab3ace738b3a8a6cd41e10b352b9a6" alt="Imagem do Post"></a>
        </div>
        </main>
    <footer>
        <a href="pesquisar.html" target="_self"><i class="fa-solid fa-magnifying-glass botaoPesquisar"></i></a>
        <a href="selecionarChat.html" target="_self"><i class="fa-solid fa-comment botaoChat"></i></a>
        <a href="calendario.html" target="_self" id="menuSelecionado"><p class="botaoData">SEG</p></a>
        <a href="favoritos.html" target="_self"><i class="fa-solid fa-heart botaoFavoritos"></i></a>
        <a href="menu_bar.html" target="_self"><i class="fa-solid fa-bars botaoMenuBar"></i></a>
    </footer>
    <script src="https://kit.fontawesome.com/2d311d7657.js" crossorigin="anonymous"></script>
</body>
</html>